@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Este sistema visa o controle dos gastos mensais com suas contas. Nele, você pode consultar o mês com maior
     consumo e com menor consumo, além de poder realizar pesquisas por data, informando o intervalo de tempo desejado.</p>

